{% comment %} {%load static%} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% comment %}
    <link rel="stylesheet" href="{%static 'css/style.css' %}" />
    {% endcomment %}
  </head>
  <body>
    <h1 style="text-align: center">Hello There!</h1>
    <h2>AuthorName:{{author_name}}</h2>
    <ul style="text-decoration: none;">
      <li>Born at</li>
      <li>Died at</li>
      <li>Books {% if author_name == "JKRowling" %}
        <a href="/authors/JKRowling/HarryPotter">Harry Potter</a>
        {% endif %}</li>
      <li>Contact</li>
      <li>Bio</li>
    </ul>
  </body>
</html>
